body,
html,
#root,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

#overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid red;
  z-index: 99999;
  pointer-events: none;
}

.dom-container {
  position: absolute;
  bottom: 8vh;
  width: 100%;
  pointer-events: all;
}
